@import "./settings/typography";
@import "./settings/color";

body {
  background-image: url("/assets/images/eucalyptus-bg.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}
