<app-hero-banner
  class="hero-banner"
  [isFloatingContent]="true"
  contentAlignment="center"
  imageUrl="assets/images/hero.jpg"
>
  <h1 class="hero-banner__header-primary">Save the date</h1>
  <p class="hero-banner__header-secondary">25 | 01 | 25</p>
</app-hero-banner>

<div class="container">
  <section class="info-section">
    <h2>Reece Errol Gibbs</h2>
    <p>and</p>
    <h2>Georgia Caris Baytopp</h2>
    <br />
    <p>
      Invite you to celebrate their love and marriage.
      <br /><br />
      SATURDAY THE 25TH OF JANUARY 2025
      <br />
      at 3:00pm
      <br />
      Haycroft Farm
      <br />
      Midlands, KZN
    </p>
  </section>
  <ng-container *ngIf="this.inviteId">
    <hr class="separator" />
    <section class="details-section">
      <app-rsvp [inviteId]="this.inviteId">
        <h2>RSVP</h2>
        <p>
          Please provide your name and email address in the form<br />below to
          recieve a formal invitation in the weeks to come.
        </p>
      </app-rsvp>
    </section>
  </ng-container>
  <hr class="separator" />
  <section class="story-section">
    <h2>Our Story</h2>
    <p>
      It was 2020 when we first met at a party while Georgia was meant to be
      studying for a psychology test. Sparks flew instantly when Reece impressed
      her with his banter, and plans were made to meet up again the next
      weekend. Frustratingly, the world then went into lockdown, forcing some
      rather inventive covert rendezvous. It was in this time of texting (until
      3am some mornings) that we discovered a mutual love of deep chats over
      good coffee, a passion for travel, and surprisingly complementary tastes
      in music. Since then our love has grown, with our life adventure finally
      ending up with us both living in New Zealand, after a year of being 12
      000km apart. Going from long-distance movie dates, managing time zones and
      visas; we now spend our time exploring hiking trails, trying out new
      recipes, and finding the best spots for cocktail sundowners. In August,
      Reece proposed to Georgia who has still not stopped staring at the
      stunning ring he designed for her. Another design of his is this website
      you are currently reading: he coded it all from scratch (and Georgia
      thinks it’s brilliant)! We are beyond excited to start this new chapter by
      celebrating our love and future together with all of our favourite people!
    </p>
    <span class="story-section__gee-sign-off">from Gee</span>
  </section>
  <hr class="separator" />
  <section class="celebrate-section">
    <h2>Click to start the party</h2>
    <app-button
      [size]="(isSmallDevice$ | async) ? 'small' : 'medium'"
      (clickEvent)="celebrate()"
      icon="balloon-heart"
      >Celebrate</app-button
    >
  </section>
  <hr class="separator" />
</div>
