@import "../styles/03_mixins/media-screen";
@import "../styles/02_functions/spacing";
@import "../styles/03_mixins/display-flex";
@import "../styles/03_mixins/typography";
@import "../styles/02_functions/color";

:host {
  li {
    list-style-type: none;
  }

  a {
    color: color(primary, sage);
  }

  .container {
    padding-top: spacing(8);
    padding-bottom: spacing(12);
    text-align: center;

    @include device-type(desktop) {
      max-width: calc((spacing(64) * 4) - spacing(6));
    }
  }

  .separator {
    margin: spacing(8) auto;
    width: 50%;
  }

  .food-section {
    &__menu {
      &--item {
        border-style: none;
      }
    }
  }
}

.hero-banner {
  &__header-primary {
    line-height: spacing(8);
    font-size: calc(spacing(12) + spacing(3));

    @include device-type(tablet) {
      font-size: spacing(24);
    }

    @include device-type(desktop) {
      font-size: calc(spacing(24) + spacing(4));
    }
  }

  &__header-secondary {
    font-size: spacing(4);

    @include device-type(tablet) {
      font-size: spacing(6);
    }

    @include device-type(desktop) {
      font-size: spacing(8);
    }
  }
}
