<app-hero-banner
  class="hero-banner"
  [isFloatingContent]="true"
  contentAlignment="center"
  imageUrl="assets/images/hero.jpg"
>
  <h1 class="hero-banner__header-primary">Save the date</h1>
  <p class="hero-banner__header-secondary">25 | 01 | 25</p>
</app-hero-banner>

<div class="container">
  <section class="info-section">
    <h2>Reece Errol Gibbs</h2>
    <p>and</p>
    <h2>Georgia Caris Baytopp</h2>
    <br />
    <p>
      Invite you to celebrate their love and marriage.
      <br /><br />
      SATURDAY THE 25TH OF JANUARY 2025
      <br />
      at 3:00pm
      <br />
      Haycroft Farm
      <br />
      District Road P1622, Howick, 3290, Kwa-Zulu Natal
    </p>
  </section>
  <hr class="separator" />
  <section class="celebrate-section">
    <h2>Click below to celebrate</h2>
    <app-button
      [size]="(isSmallDevice$ | async) ? 'small' : 'large'"
      (clickEvent)="celebrate()"
      icon="balloon-heart"
      >Celebrate</app-button
    >
  </section>
  <hr class="separator" />
</div>

<ng-template #rsvpModalContent>
  <div class="rsvp-modal-content">
    <h3>James Thomson</h3>
    <p>and</p>
    <h3>Angela Clark</h3>
    <br /><br />
    SATURDAY THE 25TH OF JANUARY 2025
    <br />
    at 3:00pm
    <br />
    Haycroft Farm
    <br />
    District Road P1622, Howick, 3290, Kwa-Zulu Natal
    <br />
    <br />
    RECEPTION TO FOLLOW
    <br />
    from 5:00pm to 1:00am
  </div>
</ng-template>
