<app-hero-banner
  class="hero-banner"
  [isFloatingContent]="true"
  contentAlignment="center"
  imageUrl="assets/images/hero.jpg"
>
  <h1 class="hero-banner__header-primary">Save the date</h1>
  <p class="hero-banner__header-secondary">25 | 01 | 25</p>
</app-hero-banner>

<div class="container">
  <section class="info-section">
    <h2>Reece Errol Gibbs</h2>
    <p>and</p>
    <h2>Georgia Caris Baytopp</h2>
    <br />
    <p>
      Invite you to celebrate their love and marriage.
      <br /><br />
      SATURDAY THE 25TH OF JANUARY 2025
      <br />
      at 3:00pm
      <br />
      Haycroft Farm
      <br />
      Midlands, KZN
    </p>
  </section>
  <hr class="separator" />
  <section class="details-section">
    <h2>Enter your details below</h2>
    <p>
      Please provide your name and email address in the form<br />below to
      recieve a formal invitation in the weeks to come.
    </p>
    <div class="details-section__form">
      <div
        [ngClass]="{
          'input-group-sm': (isSmallDevice$ | async)
        }"
        class="input-group mb-3"
      >
        <span class="input-group-text" id="first-name-input">First name</span>
        <input
          type="text"
          class="form-control"
          aria-label="First name"
          aria-describedby="first-name-input"
        />
      </div>
      <div
        [ngClass]="{
          'input-group-sm': (isSmallDevice$ | async)
        }"
        class="input-group mb-3"
      >
        <span class="input-group-text" id="last-name-input">Last name</span>
        <input
          type="text"
          class="form-control"
          aria-label="First name"
          aria-describedby="last-name-input"
        />
      </div>
      <div
        [ngClass]="{
          'input-group-sm': (isSmallDevice$ | async)
        }"
        class="input-group mb-3"
      >
        <span class="input-group-text" id="email-input">Email</span>
        <input
          type="email"
          class="form-control"
          aria-label="Email"
          aria-describedby="email-input"
        />
      </div>
      <app-button icon="envelope-heart">Send</app-button>
    </div>
  </section>
  <hr class="separator" />
  <section class="celebrate-section">
    <h2>Click to start the party</h2>
    <app-button
      [size]="(isSmallDevice$ | async) ? 'small' : 'medium'"
      (clickEvent)="celebrate()"
      icon="balloon-heart"
      >Celebrate</app-button
    >
  </section>
  <hr class="separator" />
</div>

<ng-template #rsvpModalContent>
  <div class="rsvp-modal-content">
    <h3>James Thomson</h3>
    <p>and</p>
    <h3>Angela Clark</h3>
    <br /><br />
    SATURDAY THE 25TH OF JANUARY 2025
    <br />
    at 3:00pm
    <br />
    Haycroft Farm
    <br />
    District Road P1622, Howick, 3290, Kwa-Zulu Natal
    <br />
    <br />
    RECEPTION TO FOLLOW
    <br />
    from 5:00pm to 1:00am
  </div>
</ng-template>
