@import "../styles/03_mixins/media-screen";
@import "../styles/02_functions/spacing";
@import "../styles/03_mixins/display-flex";

:host {
  .container {
    padding-top: spacing(8);
    text-align: center;

    @include device-type(desktop) {
      max-width: 1000px;
    }
  }

  .separator {
    margin: spacing(8) auto;
    width: 50%;
  }
}

.rsvp-modal-content {
  text-align: center;
}
