@import "../01_settings/typography";
@import "../03_mixins/media-screen";
@import "../02_functions/spacing";

@mixin font-family($style) {
  @if not index(map-keys($typography), $style) {
    @error "[Mixin: Typography] #{$style} does not exist in typography";
  }
  font-family: map-deep-get($typography, $style, font-family);
}

@mixin typography() {
  h1 {
    font-size: spacing(10);
    @include font-family(secondary);

    @include device-type(tablet) {
      font-size: spacing(18);
    }
  }

  p {
    font-size: calc((spacing(2) + spacing(3)) / 2);

    @include device-type(tablet) {
      font-size: spacing(4);
    }

    @include device-type(desktop) {
      font-size: spacing(5);
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @include font-family(primary);
  }
}
