@font-face {
  font-family: "Southland";
  src: url("/assets/fonts/Southland.ttf");
}

@font-face {
  font-family: "Typewriter";
  src: url("/assets/fonts/ElegantTwLight.ttf");
}

$typography: (
  primary: (
    font-family: "Typewriter",
  ),
  secondary: (
    font-family: "Southland",
  ),
);
